
.AddPackageToDiv {
    margin-left: 331px;
    margin-top: 92px;
}

.FontSize {
    font-size: 16px!important;
    padding-bottom: 2px!important;
}
.sb2-2-1 {
    background: #fff;
    padding: 25px;
    border-radius: 3px;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.05);
}

*:before,
*:after {
    box-sizing: inherit;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

user agent stylesheet div {
    display: block;
}

body {
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

.box-inn-sp {
    background: #fff;
    /* padding: 25px; */
    border-radius: 4px;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.05);
}

.inn-title {
    padding: 25px 25px;
    background: #ffffff;
    border-bottom: 1px solid #e8edf2;
    border-radius: 4px;
}

.inn-title h4 {
    font-weight: 700;
    padding-bottom: 10px;
    color: #344054;
}

h4,
.h4 {
    font-size: 18px;
}

.inn-title p {
    /* padding-bottom: 10px; */
    color: #929292;
    margin-bottom: 0px;
}

p {
    margin: 0 0 10px;
}

.bor {
    border: 1px solid #cccccc;
    padding: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
}



.row {
    margin-right: -15px;
    margin-left: -15px;
}
.row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}
.row .col {
    float: left;
    box-sizing: border-box;
    padding: 0 0.75rem;
    min-height: 1px;
}
.input-field {
    position: relative;
    margin-top: 1rem;
}
input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}
input {
    line-height: normal;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
input:not([type]).validate+label,
input[type=text].validate+label,
input[type=password].validate+label,
input[type=email].validate+label,
input[type=url].validate+label,
input[type=time].validate+label,
input[type=date].validate+label,
input[type=datetime].validate+label,
input[type=datetime-local].validate+label,
input[type=tel].validate+label,
input[type=number].validate+label,
input[type=search].validate+label,
textarea.materialize-textarea.validate+label {
    width: 100%;
    pointer-events: none;
}
.input-field.col label {
    left: 0.75rem;
}
.input-field label {
    color: #9e9e9e;
    position: absolute;
    top: 0.8rem;
    left: 0;
    font-size: 1rem;
    cursor: text;
    transition: .2s ease-out;
    text-align: initial;
}
label {
    font-size: 0.8rem;
    color: #9e9e9e;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 400;
}
input:not([type])+label:after,
input[type=text]+label:after,
input[type=password]+label:after,
input[type=email]+label:after,
input[type=url]+label:after,
input[type=time]+label:after,
input[type=date]+label:after,
input[type=datetime]+label:after,
input[type=datetime-local]+label:after,
input[type=tel]+label:after,
input[type=number]+label:after,
input[type=search]+label:after,
textarea.materialize-textarea+label:after {
    display: block;
    content: "";
    position: absolute;
    top: 60px;
    opacity: 0;
    transition: .2s opacity ease-out, .2s color ease-out;
}
*:before,
*:after {
    box-sizing: inherit;
}
.row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}
.row .col {
    float: left;
    box-sizing: border-box;
    padding: 0 0.75rem;
    min-height: 1px;
}
.input-field {
    position: relative;
    margin-top: 1rem;
}
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical>.btn-group:before,
.btn-group-vertical>.btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
    display: table;
    content: " ";
}
.row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}
.row .col {
    float: left;
    box-sizing: border-box;
    padding: 0 0.75rem;
    min-height: 1px;
}
.input-field {
    position: relative;
    margin-top: 1rem;
}
.file-field {
    position: relative;
}
.file-field .btn,
.file-field .btn-large {
    float: left;
    height: 3rem;
    line-height: 3rem;
}
.btn,
.btn-large {
    text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    color: #fff;
    background: #0e76a8;
    font-weight: 600;
}
.btn,
.btn-large,
.btn-floating,
.btn-large,
.btn-flat {
    font-size: 1rem;
    outline: 0;
}
.btn,
.btn-large,
.btn-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}
.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-floating,
.dropdown-content,
.collapsible,
.side-nav {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.file-field span {
    cursor: pointer;
}
a,
li,
p,
span,
td,
th {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}
.file-field input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
input[type="file"] {
    display: block;
}
input {
    line-height: normal;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.file-field .file-path-wrapper {
    overflow: hidden;
    padding-left: 10px;
}
.file-field input.file-path {
    width: 100%;
}
input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}
input {
    line-height: normal;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical>.btn-group:before,
.btn-group-vertical>.btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
    display: table;
    content: " ";
}
*:before,
*:after {
    box-sizing: inherit;
}
.row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}
.row .col {
    float: left;
    box-sizing: border-box;
    padding: 0 0.75rem;
    min-height: 1px;
}
.input-field {
    position: relative;
    margin-top: 1rem;
}
textarea.materialize-textarea {
    overflow-y: hidden;
    padding: .8rem 0 1.6rem 0;
    resize: none;
    min-height: 3rem;
}
input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}
.sb2-2-add-blog textarea {
    width: 100%;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 200px;
}
textarea {
    width: 100%;
    height: 3rem;
    background-color: transparent;
}
textarea {
    overflow: auto;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.input-field.col label {
    left: 0.75rem;
}
.input-field label {
    color: #9e9e9e;
    position: absolute;
    top: 0.8rem;
    left: 0;
    font-size: 1rem;
    cursor: text;
    transition: .2s ease-out;
    text-align: initial;
}
label {
    font-size: 0.8rem;
    color: #9e9e9e;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 400;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
input:not([type])+label:after,
input[type=text]+label:after,
input[type=password]+label:after,
input[type=email]+label:after,
input[type=url]+label:after,
input[type=time]+label:after,
input[type=date]+label:after,
input[type=datetime]+label:after,
input[type=datetime-local]+label:after,
input[type=tel]+label:after,
input[type=number]+label:after,
input[type=search]+label:after,
textarea.materialize-textarea+label:after {
    display: block;
    content: "";
    position: absolute;
    top: 60px;
    opacity: 0;
    transition: .2s opacity ease-out, .2s color ease-out;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical>.btn-group:before,
.btn-group-vertical>.btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
    display: table;
    content: " ";
}
.row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}
.row .col {
    float: left;
    box-sizing: border-box;
    padding: 0 0.75rem;
    min-height: 1px;
}
.input-field {
    position: relative;
    margin-top: 1rem;
}
.select-wrapper {
    position: relative;
}
.select-wrapper span.caret {
    color: initial;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 10px;
    margin: auto 0;
    font-size: 10px;
    line-height: 10px;
}
a,
li,
p,
span,
td,
th {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
.select-wrapper input.select-dropdown {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    display: block;
}
ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}
.dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 140px;
    max-height: 650px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    z-index: 999;
    will-change: width, height;
}
.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-floating,
.dropdown-content,
.collapsible,
.side-nav {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.select-dropdown li.disabled,
.select-dropdown li.disabled>span,
.select-dropdown li.optgroup {
    color: rgba(0, 0, 0, 0.3);
    background-color: transparent;
}
ul:not(.browser-default) li {
    list-style-type: none;
}
.dropdown-content li {
    clear: both;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    /* min-height: 50px; */
    
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
    text-transform: none;
}
a,
li,
p,
span,
td,
th {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}
.select-dropdown li.disabled,
.select-dropdown li.disabled>span,
.select-dropdown li.optgroup {
    color: rgba(0, 0, 0, 0.3);
    background-color: transparent;
}
.dropdown-content li>a,
.dropdown-content li>span {
    font-size: 13px;
    color: #263238;
    display: block;
    line-height: 22px;
    padding: 10px 15px;
}
a,
li,
p,
span,
td,
th {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
    cursor: not-allowed;
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
    opacity: 0;
}
.input-field.col .dropdown-content [type="checkbox"]+label {
    top: 7px;
    left: 0;
    height: 18px;
}
.input-field.col label {
    left: 0.75rem;
}
ul:not(.browser-default) li {
    list-style-type: none;
}
.dropdown-content li {
    clear: both;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    /* min-height: 50px; */
    
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
    text-transform: none;
}
a,
li,
p,
span,
td,
th {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}
li>span {
    font-size: 13px;
    color: #263238;
    display: block;
    line-height: 22px;
    padding: 10px 15px;
}
a,
li,
p,
span,
td,
th {
    font-family: 'Quicksand', sans-serif;
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
    opacity: 0;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
.input-field.col .dropdown-content [type="checkbox"]+label {
    top: 7px;
    left: 0;
    height: 18px;
}
ul:not(.browser-default) li {
    list-style-type: none;
}
.dropdown-content li {
    clear: both;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    /* min-height: 50px; */
    
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
    text-transform: none;
}
a,
li,
p,
span,
td,
th {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}
select[multiple],
select[size] {
    height: auto;
}
select {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    padding: 5px;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    height: 3rem;
}
select {
    display: none;
}
button,
select {
    text-transform: none;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
select:-internal-list-box option:checked:disabled {
    color: grey !important;
}
user agent stylesheet select:-internal-list-box option:checked {
    background-color: rgb(206, 206, 206) !important;
    color: rgb(16, 16, 16) !important;
}
user agent stylesheet select:-internal-list-box option {
    line-height: initial !important;
}
user agent stylesheet option:disabled {
    color: -internal-light-dark-color(graytext, rgb(170, 170, 170));
}
user agent stylesheet option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
button,
select {
    text-transform: none;
}
select:-internal-list-box option {
    line-height: initial !important;
}
user agent stylesheet option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
button,
select {
    text-transform: none;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.input-field.col label {
    left: 0.75rem;
}
.select-wrapper+label {
    position: absolute;
    top: -14px;
    font-size: 0.8rem;
}
.input-field label {
    color: #9e9e9e;
    position: absolute;
    top: 0.8rem;
    left: 0;
    font-size: 1rem;
    cursor: text;
    transition: .2s ease-out;
    text-align: initial;
}
label {
    font-size: 0.8rem;
    color: #9e9e9e;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 400;
}
.row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}
.row .col {
    float: left;
    box-sizing: border-box;
    padding: 0 0.75rem;
    min-height: 1px;
}
.input-field {
    position: relative;
    margin-top: 1rem;
}
.select-wrapper {
    position: relative;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet div {
    display: block;
}
body {
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}
.select-wrapper span.caret {
    color: initial;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 10px;
    margin: auto 0;
    font-size: 10px;
    line-height: 10px;
}
.caret {}
a,
li,
p,
span,
td,
th {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}
.select-wrapper input.select-dropdown {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    display: block;
}
input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}
ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}
.dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 140px;
    max-height: 650px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    z-index: 999;
    will-change: width, height;
}
.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-floating,
.dropdown-content,
.collapsible,
.side-nav {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.select-dropdown li.disabled,
.select-dropdown li.disabled>span,
.select-dropdown li.optgroup {
    color: rgba(0, 0, 0, 0.3);
    background-color: transparent;
}
ul:not(.browser-default) li {
    list-style-type: none;
}
.dropdown-content li {
    clear: both;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    /* min-height: 50px; */
    
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
    text-transform: none;
}
a,
li,
p,
span,
td,
th {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}
ul:not(.browser-default) li {
    list-style-type: none;
}
.dropdown-content li {
    clear: both;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    /* min-height: 50px; */
    
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
    text-transform: none;
}
a,
li,
p,
span,
td,
th {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}
select[multiple],
select[size] {
    height: auto;
}
select {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    padding: 5px;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    height: 3rem;
}
select {
    display: none;
}
button,
select {
    text-transform: none;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
select:-internal-list-box option:checked:disabled {
    color: grey !important;
}
user agent stylesheet select:-internal-list-box option:checked {
    background-color: rgb(206, 206, 206) !important;
    color: rgb(16, 16, 16) !important;
}
user agent stylesheet select:-internal-list-box option {
    line-height: initial !important;
}
user agent stylesheet option:disabled {
    color: -internal-light-dark-color(graytext, rgb(170, 170, 170));
}
user agent stylesheet option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
button,
select {
    text-transform: none;
}
select:-internal-list-box option {
    line-height: initial !important;
}
user agent stylesheet option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
button,
select {
    text-transform: none;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.input-field.col label {
    left: 0.75rem;
}
.select-wrapper+label {
    position: absolute;
    top: -14px;
    font-size: 0.8rem;
}
.input-field label {
    color: #9e9e9e;
    position: absolute;
    top: 0.8rem;
    left: 0;
    font-size: 1rem;
    cursor: text;
    transition: .2s ease-out;
    text-align: initial;
}
label {
    font-size: 0.8rem;
    color: #9e9e9e;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 400;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical>.btn-group:before,
.btn-group-vertical>.btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
    display: table;
    content: " ";
}
.row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}
.row .col {
    float: left;
    box-sizing: border-box;
    padding: 0 0.75rem;
    min-height: 1px;
}
.input-field {
    position: relative;
    margin-top: 1rem;
}
input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}
input {
    line-height: normal;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
input:not([type]).validate+label,
input[type=text].validate+label,
input[type=password].validate+label,
input[type=email].validate+label,
input[type=url].validate+label,
input[type=time].validate+label,
input[type=date].validate+label,
input[type=datetime].validate+label,
input[type=datetime-local].validate+label,
input[type=tel].validate+label,
input[type=number].validate+label,
input[type=search].validate+label,
textarea.materialize-textarea.validate+label {
    width: 100%;
    pointer-events: none;
}
.input-field.col label {
    left: 0.75rem;
}
.input-field label {
    color: #9e9e9e;
    position: absolute;
    top: 0.8rem;
    left: 0;
    font-size: 1rem;
    cursor: text;
    transition: .2s ease-out;
    text-align: initial;
}
label {
    font-size: 0.8rem;
    color: #9e9e9e;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 400;
}
input:not([type])+label:after,
input[type=text]+label:after,
input[type=password]+label:after,
input[type=email]+label:after,
input[type=url]+label:after,
input[type=time]+label:after,
input[type=date]+label:after,
input[type=datetime]+label:after,
input[type=datetime-local]+label:after,
input[type=tel]+label:after,
input[type=number]+label:after,
input[type=search]+label:after,
textarea.materialize-textarea+label:after {
    display: block;
    content: "";
    position: absolute;
    top: 60px;
    opacity: 0;
    transition: .2s opacity ease-out, .2s color ease-out;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
element.style {}
.row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}
.row .col {
    float: left;
    box-sizing: border-box;
    padding: 0 0.75rem;
    min-height: 1px;
}
.input-field {
    position: relative;
    margin-top: 1rem;
}
.waves-input-wrapper {
    border-radius: 0.2em;
    vertical-align: bottom;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    transition: .3s ease-out;
}
.btn-large {
    height: 54px;
    line-height: 54px;
}
.btn,
.btn-large {
    text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    color: #fff;
    background: #0e76a8;
    font-weight: 600;
}
.btn,
.btn-large,
.btn-floating,
.btn-large,
.btn-flat {
    font-size: 1rem;
    outline: 0;
}
.btn,
.btn-large,
.btn-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}
.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-floating,
.dropdown-content,
.collapsible,
.side-nav {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.waves-effect input[type="button"],
.waves-effect input[type="reset"],
.waves-effect input[type="submit"] {
    border: 0;
    font-style: normal;
    font-size: inherit;
    text-transform: inherit;
    background: none;
}
.waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
input {
    line-height: normal;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.select-wrapper {
    position: relative;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
.select-wrapper span.caret {
    color: initial;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 10px;
    margin: auto 0;
    font-size: 10px;
    line-height: 10px;
}
a,
li,
p,
span,
td,
th {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
.row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}
.row .col {
    float: left;
    box-sizing: border-box;
    padding: 0 0.75rem;
    min-height: 1px;
}
.input-field {
    position: relative;
    margin-top: 1rem;
}
.select-wrapper input.select-dropdown {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    display: block;
}
input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}
input {
    line-height: normal;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
element.style {
    width: 916.688px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1;
    display: none;
}
ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}
.dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 140px;
    max-height: 650px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    z-index: 999;
    will-change: width, height;
}
.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-floating,
.dropdown-content,
.collapsible,
.side-nav {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
ul,
ol {
    margin-top: 0;
    margin-bottom: 10px;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.select-dropdown li.disabled,
.select-dropdown li.disabled>span,
.select-dropdown li.optgroup {
    color: rgba(0, 0, 0, 0.3);
    background-color: transparent;
}
ul:not(.browser-default) li {
    list-style-type: none;
}
.dropdown-content li {
    clear: both;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    /* min-height: 50px; */
    
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
    text-transform: none;
}
a,
li,
p,
span,
td,
th {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet li {
    display: list-item;
    text-align: -webkit-match-parent;
}