body {
    background-color: rgb(244, 239, 239);
}

.mainContainer {
    margin-top: 32px;
    background-color: white;
    padding-bottom: 50px;
    padding-top: 40px;
}

#form {
    padding-left: 75px;
    padding-top: 49px;
}

    #form h3 {
        margin-bottom: 26px;
        font-family: sans-serif;
        font-weight: 700;
    }


.inputfield {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid blue;
    border-bottom: 1px solid #d0d0ba;
}


#form .input-group-addon {
    background: none;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid blue;
    border-bottom: 1px solid #d0d0ba;
}

.form-control:focus {
    border-color: #ccc;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}


.formImg {
}

.subbtn {
    background-color: #154a77;
    border-radius: 20px;
    padding: 5px 20px;
    /* width: 83px; */
    font-size: 16px;
    margin-top: 19px;
    margin-left: 226px;
}


    .subbtn:hover {
        background-color: #0f6bb9;
    }

.lebel-padding {
    padding: 0px !important;
    margin-top: 19px;
}
