
<!doctype html>
<html lang="en">

<head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->

    <link href="~/DashBoard/template/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/DashBoard/template/assets/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/DashBoard/template/assets/vendor/linearicons/style.css" rel="stylesheet" />
    <link href="~/DashBoard/template/assets/vendor/chartist/css/chartist-custom.css" rel="stylesheet" />





    <!-- MAIN CSS -->
    <link href="~/DashBoard/template/assets/css/main.css" rel="stylesheet" />


    <link href="~/DashBoard/template/assets/css/demo.css" rel="stylesheet" />



    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">


    <!-- ICONS -->

    <link rel="apple-touch-icon" sizes="76x76" href="~/DashBoard/template/assets/img/apple-icon.png">

    <link rel="icon" type="image/png" sizes="96x96" href="~/DashBoard/template/assets/img/favicon.png">
</head>

<body>


    @RenderBody()

</body>

</html>
